# Ignore Visual Studio folder
.vs/

# Ignore build output folders
bin/
obj/
**/bin/
**/obj/
**/bin/Debug/
**/bin/Release/
**/obj/Debug/
**/obj/Release/
**/bin/Debug/net*/
**/obj/Debug/net*/

# Optional: user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
